<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	
	

	
	
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TRAWebApplication-20200327023809.mdf;Initial Catalog=aspnet-TRAWebApplication-20200327023809;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=SVSQLTEST\TEST;Initial Catalog=aspnet-TRAWebApplication-20200327023809;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->


	<!--for logger-->
	<mscorlib>
		<cryptographySettings>
			<cryptoNameMapping>
				<cryptoClasses>
					<cryptoClass SHA256CSP="System.Security.Cryptography.SHA256CryptoServiceProvider, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				</cryptoClasses>
				<nameEntry name="SHA256" class="SHA256CSP"/>
				<nameEntry name="SHA256CryptoServiceProvider" class="SHA256CSP"/>
				<nameEntry name="System.Security.Cryptography.SHA256CryptoServiceProvider" class="SHA256CSP"/>
			</cryptoNameMapping>
		</cryptographySettings>
	</mscorlib>
	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="c:\temp\web.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="10MB"/>
			<maxSizeRollBackups value="10"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFile"/>
		</root>
	</log4net>
  <appSettings>
    <add key="Dev_ServerName" value="192.168.191.13"/>

    <add key="Dev_Organization" value="TRA"/>
    <add key="Dev_Domain" value="TRA"/>
    <add key="contact" value="contact"/>
    <add key="case" value="incident"/>
    <add key="notify" value="tra_notification"/>
    <add key="conversation" value="tra_conversation"/>
    <add key="files" value="20"/>
    <add key="Notes" value="annotation"/>
    <add key="exceptionPath" value="c:\\TRAPortal2_ErrorLog\\"/>
    <add key="encryptkey" value="AEH12"/>
    <!--CRM admin credentials-->
    <add key="Dev_UserName" value="uPm9YBiV+Yx7O8tuM8aFakJGxY9F2YQILhUhnIW2is0="/>
    <add key="Dev_Password" value="qiSmUwDlClMmFexlJYW13p0KZT3RiUuj+07wzLzrJ0g="/>
    <add key="Auth_UserName" value="uPm9YBiV+Yx7O8tuM8aFakJGxY9F2YQILhUhnIW2is0="/>
    <add key="Auth_Password" value="qiSmUwDlClMmFexlJYW13p0KZT3RiUuj+07wzLzrJ0g="/>
    <add key="UserId" value="nsrIgDiuiczKZyeRb7SXMHDkUwNP252rfM99dOUosDauHVNJz0eJtFD3U5sIhlN4"/>
    <add key="basicAuth" value="uPm9YBiV+Yx7O8tuM8aFarZggcAMfagd4r82CxWmt+3l8cHDVfg1gpbS29Ketytn"/>
    <add key="passwordPolicyXMLLocation" value="~/MyXML/PasswordPolicy.xml"/>
    <add key="FbAppId" value="3635869396432596"/>
    <add key="fbAppsecret" value="4378b6c97720e8c2cbf5c8c27d57c60a"/>
    <add key="googleClientId" value="771406523193-57jl34p5s9df1r2iaucv4ufu5ju350am.apps.googleusercontent.com"/>
    <add key="googleSecretKey" value="__REPKqND-M5572KWRfW87Q-"/>
    <!--bnf keys-->
    <!-- Stagin -->
    <add key="eServiceId" value="E_DK405980"/>


    <!--E_BNAF002-->
	  	<add key="Base_ServerAddress" value="http://localhost:59179"/>
	  <add key="returnUrl" value="http://localhost:59179/en-US/Consumer/Index.aspx"/>
	  <add key="returnUrlAR_bh" value="http://localhost:59179/Ar-Bh/Consumer/Index.aspx" />
	  
	  <!--<add key="returnUrl" value="https://192.168.190.42:4430/en-US/Consumer/Index.aspx" />
	  <add key="returnUrlAR_bh" value="https://192.168.190.42:4430/Ar-Bh/Consumer/Index.aspx" />-->
	  <!--<add key="Base_ServerAddress" value="http://localhost:4430"/>-->
	  
    <add key="authLevel" value="2"/>
    <add key="locale" value="en"/>
    <add key="respType" value="KV"/>
    <!-- Stagin   -->
    <add key="authUrl" value="http://10.200.3.145:8180/bnaf/reqAuthn.do?sessionid="/>
    <add key="SessionUrl" value="http://10.200.3.145:8180/bnaf/reqSession.do"/>
	  <add key="hostUrl" value="http://10.200.3.145:8180/"/>
    <!-- Production  -->
	  <!--
	  <add key="authUrl" value="https://www.ekey.bh/bnaf/reqAuthn.do?sessionid="/>
      <add key="SessionUrl" value="https://www.ekey.bh/bnaf/reqSession.do"/>
     <add key="hostUrl" value="https://www.ekey.bh/"/>
     -->
    <add key="isCorppassResponse" value="false"/>
    <!--<add key="SignerCertificateSubject" value="CN=iGA,OU=eKey,O=iGA,L=Muharraq,ST=Manama,C=BH"/>
    <add key="EncryptionCertificateSubject" value="CN=eKey Encryption Certificate,OU=eKey,O=iGA,L=Muharraq,ST=Manama,C=BH"/>-->
    <!-- Stagin  -->
    <add key="SignerCertificateSubject" value="CN=iGA, OU=eKey, O=iGA, L=Muharraq, S=Manama, C=BH"/>
    <add key="EncryptionCertificateSubject" value="CN=eKey Encryption Certificate, OU=eKey, O=iGA, L=Muharraq, S=Manama, C=BH"/>
    <!-- Production 
    <add key="SignerCertificateSubject" value="CN=iGA, OU=eKey, O=iGA, L=Muharraq, S=Manama, C=BH"/>
    <add key="EncryptionCertificateSubject" value="CN=BNAF, OU=EGA, O=eGOV, L=Bahrain, S=Manama, C=BH"/>
    
    -->
    <add key="isAllowGCCUserLogin" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2097151" maxQueryStringLength="2097151" maxUrlLength="2097151"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>