body {
}
.Loaderdiv {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 9999;
    background: url('../TRA_ICON.gif') 50% 50% no-repeat;
}