@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="TRA, Bahrain telecommunications, telecom consumer dispute, telecom complaints, submit complaint, consumer portal" />
    <meta name="description" content="Maintaining effective communication between TRA, consumers and the telecommunications service providers." />

    <!-- ================= Favicons ================== -->
    <!-- Standard -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="shortcut icon" href="../images/favicon.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="../images/favicon-retina-ipad.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="../images/favicon-retina-iphone.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="../images/favicon-standard-ipad.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon-standard-iphone.png">

    <title>Forgot Password - Consumer Portal | Telecommunications Regulatory Authority, Kingdom of Bahrain</title>

    <!--=============== css  ===============-->
    <!-- Reset CSS -->
    <link href="../css/reset.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">

    <!-- Main CSS -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/form-style.css" rel="stylesheet">
    <link href="../css/form-style2.css" rel="stylesheet">

    <!-- Selectize -->
    <link rel="stylesheet" href="../css/selectize.default.css">


    <link href="../css/megamenu.css" rel="stylesheet">
    <link href="../css/navik.menu.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/flaticon.css" rel="stylesheet">

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">

    <!-- FancyBox -->
    <link href="../css/jquery.fancybox.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <style type="text/css">

        .overlay {
            position: fixed;
            top: 0;
            display: none;
            z-index: 1000;
            height: 100%;
            background: rgba(33, 33, 33, 0.6);
            width: 100%;
        }

        #spnId {
            top: 45%;
            left: 45%;
            position: fixed;
        }

        .progress {
            height: 5px;
        }

        .fa-times {
            color: red;
        }
    </style>

    <!-- DateTime Picker -->
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../css/sweetalert2.css">

    <!-- Dropzone -->
    <link rel="stylesheet" href="../css/dropzone.css">

    <!-- Tooltip -->
    <link rel="stylesheet" type="text/css" href="../css/tooltipster.bundle.css" />
    <link rel="stylesheet" type="text/css" href="../css/tooltipster-follower.css" />
    <link rel="stylesheet" type="text/css" href="../css/tooltipster-sideTip-shadow.min.css" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]
    <style type="text/css"> .gradient { filter: none; } </style>
    <![endif]-->

    <script src="../js/modernizr.js"></script> <!-- Modernizr runs quickly on page load to detect features -->
    <script src="../js/scrollreveal.js"></script> <!-- ScrollReveal -->

</head>


<body>

    <!-- *** LOADING *** -->
    <!-- Clean fade-in effect for webpage -->
    <script>document.body.className += ' fade-out';</script>

    <!-- *** / LOADING *** -->

    <div id="page d-flex align-items-stretch">


        <!--==============================================
            Header Area
        ===============================================-->

        <div class="cd-main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ul class="cd-header-buttons">

                            <li><a class="hotline" href="tel:81188"><span class="hotlinenumber">81188</span> <span class="des">(Consumer Contact Center)</span></a></li>
                            <li><a class="language-switch" id="langSwitch" href="~/Ar-Bh/Consumer/Index.aspx">عربي</a></li>

                        </ul> <!-- cd-header-buttons -->
                    </div>

                </div>
            </div>
        </div>

        <div class="navik-header header-shadow navik-mega-menu mega-menu-fullwidth">
            <div class="container">

                <!-- Navik header -->
                <div class="navik-header-container">

                    <!--Logo-->
                    <div class="logo" data-mobile-logo="../images/TRA-logo.png" data-sticky-logo="../images/TRA-sticky-logo.png">
                        <a href="Index.aspx" id="ahref17"><img src="../images/TRA-logo.png" alt="TRA logo" /></a>
                    </div>

                </div>

            </div>
        </div>

        <main>


            <section class="formsection">
                <div class="form-gap"></div>
                <div class="container">
                    <div class="row">
                        @{

                            @Html.Hidden("app", Html.Raw(System.Configuration.ConfigurationManager.AppSettings["basicAuth"]))

                        }
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                                        <h2 class="text-center">Forgot Password?</h2>
                                        <p>Please enter your registered email address.</p>
                                        <div class="panel-body">

                                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="tooltipz1" data-tooltip-content="#emailtool"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                        <input id="email" name="email" placeholder="email address"  class="form-control" mandatory>
                                                    </div>

                                                    <div class="tooltip_templates">
                                                        <span id="emailtool" class="tooltip_content">
                                                            <span class="tooltip-icon fa fa-info-circle"></span>
                                                            <p>
                                                                <strong>Please enter a valid E-mail address.</strong>
                                                            </p>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <input name="recover-submit" class="btn btn-lg btn-block btn btn-style-4" style="margin-left: auto;height: 45px;" id="forgotPasswordbtn" value="Reset Password" type="button">
                                                    <span class="temp-span-wrap temp-span-input-label-wrap " id="tooltipz3" data-tooltip-content="#pwrules5" style="display:none">
                                                        <input type="hidden" />
                                                    </span>
                                                    <div class="tooltip_templates">
                                                        <span id="pwrules5" class="tooltip_content">
                                                            <span class="tooltip-icon fa fa-info-circle"></span>
                                                            <p>
                                                                <strong id="ErrorMessage">The email address you entered above was not found in the system.</strong>
                                                            </p>
                                                        </span>
                                                    </div>

                                                </div>

                                                <input type="hidden" class="hide" name="token" id="token" value="">
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- END formsection -->

            <div class="clearfix"></div>

        </main><!--main -END -->
        <!--==============================================
            Footer Section
        ===============================================-->
        <footer>
            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-md-push-4 col-sm-6 col-xs-12">
                        <ul class="footer-logos">
                            <li><a href="https://www.bahrain.bh/wps/portal/QuickLinks_en?current=true&urile=wcm:path:egovportal_en/LANDING%20PAGES/Bahrain2030" target="_blank"><img src="../images/2030.png" width="65" height="60" alt="Bahrain 2030"></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-md-push-4 col-sm-6 col-xs-12">
                        <div class="social-txt">Connect with us :</div>
                        <ul class="social-icons">
                            <li><a href="https://www.instagram.com/trabahrain/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span class="sr-only">TRA Instagram</span></a></li>
                            <li><a href="https://twitter.com/trabahrain/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">TRA Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/trabahrain/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">TRA Facebook</span></a></li>
                            <li><a href="https://www.youtube.com/channel/UCrJmBEJd1LvLD-jcxIzbidQ/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i><span class="sr-only">TRA YouTube</span></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-md-pull-8 col-sm-12 col-xs-12">
                        <p class="copyright">
                            &copy;
                            <script type="text/javascript">var d = new Date(); document.write(d.getFullYear());</script> Telecommunications Regulatory Authority<br>Kingdom of Bahrain.
                        </p>
                        <p class="footer-links"><a href="https://www.tra.org.bh/en/en/category/privacy-policy" target="_blank">Privacy Policy</a> / <a href="https://www.tra.org.bh/en/en/en/category/terms-and-conditions" target="_blank">Terms &amp; Conditions</a></p>
                    </div>

                </div><!--.row -END -->
            </div><!--.container -END -->
        </footer>

        <div class="cd-overlay"></div>



        <div class="overlay">
            <div class="spinner-loading" id="spnId"><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i><span class="sr-only">Loading...</span></div>
        </div>




    </div><!--.page -END -->
    <!-- JavaScripts
    ================================================== -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../Scripts/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrapvalidator.min.js"></script>

    <!-- Navik Menu js -->
    <script type="text/javascript" src="../js/navik.menu.js"></script>

    <!-- OwlCarousel js-->
    <script type="text/javascript" src="../assets/owlcarousel/owl.carousel.js"></script>

    <!-- Fancybox js -->
    <script type="text/javascript" src="../js/jquery.fancybox.min.js"></script>

    <!-- File Uploader js -->
    <script type="text/javascript" src="../js/dropzone.js"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="../js/main.js"></script>

    <!-- Side Nav js -->
    <script type="text/javascript" src="../js/side-nav.js"></script>

    <!-- Form js -->
    <script type="text/javascript" src="../js/form.js"></script>
    <script type="text/javascript" src="../js/stepform.js"></script>

    <!-- DateTime Picker js -->
    <script type="text/javascript" src="../js/bootstrap-datetimepicker.js"></script>



    <!-- Sweetalert js -->
    <script type="text/javascript" src="../js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../js/promise-polyfill.js"></script>

    <!-- Tooltipster js -->
    <script type="text/javascript" src="../js/tooltipster.bundle.min.js"></script>
    <script type="text/javascript" src="../js/tooltipster-follower.js"></script>
    <script>
        $(document)
            .ajaxStart(function () {
                //$('.spinner-loading').show();
                $(".overlay").show();
            })
            .ajaxStop(function () {
                //   $('.spinner-loading').hide();
                $(".overlay").hide();
            });
    </script>
    <script>

        $('#email').keypress(function (e) {
            if (e.which == 13) {
                jQuery(this).blur();
                jQuery('#forgotPasswordbtn').focus().click();
                return false;
            }
        });

        $(document).ready(function () {
            $('.tooltipz').tooltipster({
                theme: 'tooltipster-shadow',
                side: 'bottom',
                trigger: 'click',
                maxWidth: 300
            });

            $('#tooltipz1').tooltipster({
                theme: 'tooltipster-shadow',
                side: 'bottom',
                trigger: 'click',
                maxWidth: 300
            });
            $('#tooltipz3').tooltipster({
                theme: 'tooltipster-shadow',
                side: 'bottom',
                trigger: 'click',
                maxWidth: 300
            });

        });</script>

  
    <script>
        var current_fs;

        $("#forgotPasswordbtn").on("click", function (e) {

            current_fs = $(this).parent().parent();
            if (validateinputs(current_fs)) {

                var Email = $("#email").val();
                var IsEmail = validateEmail(Email);

                if (IsEmail == false) {

                    $('#tooltipz1').click();
                    e.preventDefault();

                    return false;
                }



                $.ajax({
                    url: window.location.origin + "/api/EnglishConsumer/forgotpassword?email=" + Email,
                    headers: {
                        "Authorization": "Basic " + $("#app").val()
                    },

                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {

                        if (result != null) {

                            if (result == true) {
                                forgotPasswordSucess();
                            } else if (result == false) {
                                $("#tooltipz3").show();
                                $('#tooltipz3').click();
                            }
                        }

                    },
                    error: function (jqXHR) {
                        if (jqXHR.status == "401") {
                            window.location.href = "error.html";

                        } else

                            if (jqXHR.status = "500") {
                                window.location.href = "error.html";
                            } else {
                                window.location.href = "error.html";
                            }
                    }
                });
            }
            else {
                return false;
            }
        });

        function validateEmail(emailId) {

            var reg = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
            if (reg.test(emailId)) {
                return true;
            } else {
                return false;
            }
        }


        function forgotPasswordSucess() {

            current_fs = $(this).parent().parent();

            if (validateinputs(current_fs)) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    confirmButtonText: 'Login Now',
                    showCancelButton: false,
                    cancelButtonText: 'Go to Homepage',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    html:

                        '<p>An email has been sent to your registered email address.</p>'

                }).then(function (result) {


                    window.location.href = "Index.aspx?isLogin=" + true;

                })
            }


            return false;
        };
    </script>










    <!-- Clean fade-in effect for webpage -->
    <script type="text/javascript">
        $(function () {
            $('body').removeClass('fade-out');
        });</script>



    <!--<script src="../../Scripts/loader.js"></script>-->
</body>
</html>